/* overall style*/
*{
    padding: 0;
    margin: 0;
}
.poem{
    font-family: 'Inconsolata', monospace;
    text-align:left;
    padding: 20%;
    font-size: 30px;
    display: inline;
    position: absolute;
}

/*poem 1 page*/
#sunrise{
    text-decoration: none;
    color: black;
}
#sunrise:hover{
    text-shadow: 1px 1px 3px #b93700;
}
#linethrough{
    display: inline-block;
}
#linethrough:hover{
    text-decoration: line-through;
    text-decoration-color: red;
}
.background1{
    background-color: #d5d3d3;
    height: 50rem;
}

/*sunrise page*/
.sunriseimg{
    padding: 10%;
    float: right;
}
.sunriseimg:hover{
    box-shadow: inset;
}

#orange{
    color: #b93700;
    display: inline-block;
}

.picture{
    display: inline;
    position: relative;
}
/* poem 2 page*/

#spring{
    text-decoration: none;
    color: black;
}
#spring:hover{
    text-shadow: 1px 1px 3px #fa73bf;
}

.background2{
    background-color: #fcf6df;
    height: 50rem;
}
/* spring page*/
.springimg{
    padding: 10%;
    float: right;
    padding-top: 15%;
}
#pink{
    color: #ef42a4;
    display: inline-block;
}
/* poem 3 page */
#brighten{
    text-decoration: none;
    color: black;
}
#brighten:hover{
    color: #d5d3d3;
    text-shadow: 1px 1px 3px #ffea00;
}
.background3{
    background-color: #101010;
    height: 50rem;
}
.poem3:hover{
    color: #d5d3d3;
}
/* brighten page */
#yellow{
    color: #ffeb0c;
    display: inline-block;
}
.sunshineimg{
    padding: 10%;
    float: right;
}
.background4{
    animation-name: fade;
    animation-duration: 4s;
    height: 50rem;
}
@keyframes fade {
    from {background-color: #101010;}
    to {background-color: #f9f9f8;}
}